.goToCheckoutButton {
  width: 80%;
  color: white;
  background-color: #ff9600;
  border-style: solid;
  border-color: #ff9600;
  border-width: 2px;
  margin-bottom: 20px;
  border-radius: 23px;
}

.goToCheckoutButton:hover {
  background-color: white;
  color: #ff9600;
}
