ion-select::part(text) {
  white-space: normal !important;
}

.paymentSelection {
  border-style: solid;
  border-color: #ebebeb;
  border-width: 2px;
  white-space: normal;
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.paymentItem {
  width: 90%;
  margin: auto;
}
