<div class="cartItemBox">
  <div class="cartItemHeaderBox">
    <div class="productDetails">
      <p class="cartHeaderTitle">Productos</p>
    </div>
    <div class="productQuantity">
      <p class="cartHeaderTitle">Cantidad</p>
    </div>
  </div>
  <div class="cartItemBodyBox">

    <div class="cartItem" *ngFor="let producto of productos">
      <div class="productDetails">

        <img [src]="producto.producto.images[0].src" alt="">
        <div class="productInfo">
          <p>{{producto.producto.name}}</p>
          <p>Precio unitario: {{producto.producto.regular_price}}</p>
          <p>Subtotal: {{producto.subtotal}}</p>
        </div>
      </div>
      <div class="productQuantity">
        <p class="productQuantityInfo">{{producto.qty}}</p>
      </div>
    </div>
  </div>
</div>