<div class="storeBigBox">
  <div class="storeTitle">
    <p>{{category}}</p>
  </div>
  <div class="itemCardBox" *ngFor="let product of products; let i = index">
    <div class="productImage">
      <img [src]="product.images[0].src" *ngIf="product.images" alt="">
    </div>
    <div class="productName">
      <p>{{product.name}}</p>
    </div>
    <div class="productQuantity">
      <ion-input *ngIf="qtys" type="number" [(ngModel)]="qtys[i]" value="1"></ion-input>
    </div>
    <div class="productPrice">
      <p><span [innerHTML]="toHTML(currencySymbol)"></span>{{product.regular_price}}</p>
    </div>
    <div class="cartButton">
      <button (click)="addToCart($event, product, i)">Agregar al carrito</button>
    </div>

  </div>
</div>