<app-header class="fullWidth header"></app-header>
<div class="pageBox">
  <div class="categoryBox" *ngIf="showCatList">
    <div class="catItem" *ngFor="let cat of categories" (click)="openCategory($event, cat)">
      <div class="catImg">
        <img *ngIf="cat.images" [src]="cat.images.src">
      </div>
      <div class="catName">
        <p>{{cat.name}}</p>
      </div>
    </div>
  </div>
  <div style="width:100%;" *ngIf="showStore">
    <button class="backButton" (click)="backToCat()">A la lista de categorías</button>
    <app-store [category]="catSelected" [products]="products"></app-store>
  </div>
</div>